.line-through{
  text-decoration-line:line-through;
}

.li1{
    margin-left: 36px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  transition: transform 0.3s ease;
}
.sdt{
  margin-top: 20px;
  margin-left: 14px;
}
.image-container:hover img {
  transform: scale(1.2);
}
.resizable-box {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-right: 5px; /* Khoảng cách ngang giữa các ô vuông */
    border-radius: 4px;
    margin-top: 10px;
}
.resizable-box:hover{
  background-color: aqua;
}
.size{
    margin-top: 3%;
    margin-left: 13px;
}
.soluong{
    margin-top: 50px;
    width: 50px;
    margin-left: 13px;
}
.mua{
    background-color: rgb(206, 180, 231);
    color: white;
    border: 1px solid rgb(206, 180, 231);
    border-radius: 4px;
    margin-left: 10px;
}
.mua:hover{
 background-color: blueviolet;
}
.muangay{
    margin-top: 30px;
    margin-left: 14px;
    background-color: rgb(255, 106, 0);
    border: 1px solid rgb(255, 106, 0);
    border-radius: 4px;
    color: aliceblue;
    width: 360px;
}
.muangay:hover {
    background-color: red;
  }
.vertical-line {
    position: relative;
    margin-left: 14px;
    margin-top: 20px;
  }

  .vertical-line::after {
    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 50%; */
    width: 1px;
    background-color: black; /* Màu sắc của đường gạch dọc */
    transform: translateX(-50%);
  }

  .content {
    padding-left: 10px; /* Khoảng cách giữa đường gạch dọc và nội dung văn bản */
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-container {
    position: relative;
    width: 410px; /* Độ rộng của phần slider */
    overflow: hidden;
    
  }

  .slider-container {
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .left-arrow {
    left: 0;
    background-color: rgba(77, 75, 75, 0.385); /* Màu của mũi tên trái */
  }
  
  .right-arrow {
    right: 0;
    background-color: rgba(77, 75, 75, 0.385); /* Màu của mũi tên phải */
  }
.li2{
    margin-left: 20px;
}
.star {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 35px solid yellow; /* Màu của ngôi sao */
    border-left: 50px solid transparent;
    transform: rotate(35deg);
  }
  .dg1 { 
    margin-top: 12px;
    display: flex;
    align-items: center;
    width: 430px;
    height: 30px;
    background-color: rgb(224, 224, 224); /* Màu xám */
    margin-bottom: 10px; /* Khoảng cách giữa các cột */
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 10px;
    width: 100%;
    color: rgb(8, 6, 0);
    font-weight: bold;
  }
  .rating-text{
    margin-left: 250px;
    color: rgb(18, 129, 220);
  }
.nhap{
    border: 1px solid grey;
    width: 1124px;
    height: 60px;
    position: absolute;
    top: 3710px;

}
.ft2{
    margin-top: 12px;
    margin-left: 170px;
}
.ft3{
    margin-top: 12px;
    margin-left: 10px;
}
.ft4{
    margin-top: 12px;
    margin-left: 10px;
    width: 360px;
}
.ft5{
    margin-top: 12px;
    margin-left: 10px;
    width: 360px;
}
.ft6{
    margin-top: 12px;
    margin-left: 10px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 4px;
}
